*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*cursor: url(http://www.rw-designer.com/cursor-extern.php?id=26749), pointer;*/
    /*cursor: url(http://www.rw-designer.com/cursor-extern.php?id=26756),pointer;*/
    cursor: url(http://cur.cursors-4u.net/others/oth-3/oth246.cur), progress;
    /*cursor: url(http://cur.cursors-4u.net/others/oth-3/oth267.cur), progress;*/
    /*cursor: url(http://cur.cursors-4u.net/others/oth-3/oth269.cur), progress;*/
    
}

/*-----------------------------------------------------------------------------
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
-----------------------------------------------------------------------------*/

#welcome{
    display: flex;
    flex-flow: column nowrap;
    background: url("imagenes/FONDO.jpg");
    background-position: center;
    background-attachment: contain;
    background-size: cover;
}

    #header{
        display: flex;
        padding: 0px 0px 50px 80px;
    }

        #contenedor{
            flex-flow: column nowrap;
            height: 704px;
        }
            #mainTitle{
                height: 450px;
                width: 85%;

                flex-flow: column nowrap;
                display: flex;
	            justify-content: flex-end;
                align-items: flex-start;
                align-content: stretch; 
                

                font-family: 'Fontdiner Swanky', cursive;
                font-style: normal;
                font-weight: normal;
                letter-spacing: 7px; /*PARA ESPACIAR LAS LETRAS DEL TÍTULO*/
                font-size: 35px;
                line-height: 100px;
                color: rgb(255, 255, 255);
            }

            #instructions{   
                height: 280px;
                width: 50%;

                flex-flow: column nowrap;
                display: flex;
                justify-content: flex-start;
                align-content: center;
                
                font-family: 'Abel', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 20px;
                color: #D8D2D2;
            }
        
        #siguiente{
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;
            align-items: center;
            width: 400px;
        }
            #enterButton{
                width: 200px;
                height: 200px;
                background: url("imagenes/sombrero.png");
                background-size: 200px 200px;
                background-repeat: no-repeat;
                transition: 0.3s;
                cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), pointer;
            }
            #enterButton:hover{
                transform: scale(1.2);
            }

@media all and (max-width: 600px){
    #header{
        flex-direction: column;
        padding: 0px 0px 0px 40px;
    } 
    #mainTitle{
        text-align: center;
    }
    #instructions{
        text-align: center;
        width: 85%;
    }
    #enterButton{
        width: 85%;
        justify-content: flex-end;
        align-items: center;
    }
    #siguiente{
        width: 250px;
        padding: 0px 0px 0px 35px;
    }
    
}

@media all and (max-width: 360rem) {
    #mainTitle{
        font-size: 30px;
        line-height: 80px;
    }
}


/*-----------------------------------------------------------------------------
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
-----------------------------------------------------------------------------*/

#homePage{
    display: flex;
    background: url("imagenes/voldemort.jpg");
    background-position: center;
    background-attachment: fixed; /*fixed para que quede fija la imagen*/
    background-size: cover;
    padding: 120px 110px 30px 110px;
}

    #header2{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: flex-start;
        height: 150px;
        flex-direction: row;
        flex-wrap: nowrap;
    }

        #logo{
            font-family: 'Fontdiner Swanky', cursive;
            letter-spacing: 7px; /*PARA ESPACIAR LAS LETRAS DEL TÍTULO*/
            font-size: 33px;
            line-height: 80px;
            color: rgb(255, 255, 255);
        }

    #nav{
        display: flex;
        justify-content: flex-end;
        padding-right: 70px;
    }
        #az{
            background: rgba(0, 0, 0, .7);
            border-radius: 10px;
            height: 50px;
            width: 110px;
            display: flex;
            justify-content: center;
            align-content: center;
            margin: 70px 0px 0px 60px;
        }

            #az select{
                font-family: 'Abel', sans-serif;
                font-size: 17px;
                color: #000;
                margin: 10px;
                border-radius: 5px;
                cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), pointer;
            }

    #section{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px;
    }

        #searchCriteriaContenedor{
            padding: 10px;
            margin-right: 20px;
            border-radius: 20px;
            display: flex;
            background-color: rgba(0, 0, 0,.7)
        }
            #searchCriteria{
                width: 280px;
                height: 540px;
                flex-direction: column;
                display: inline-flex;
                padding: 25px;
            }

            #favoriteCharacter{
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                margin: 30px 0px 50px 0px;
            }
       
                #searchCriteria label{
                    font-family: 'Abel', sans-serif;
                    font-size: 18px;
                    color: rgb(214, 212, 212);
                    margin: 0px 0px 0px 10px;
                    
                }
                #searchCriteria input{
                    font-family: 'Abel', sans-serif;
                    font-size: 16px;
                    color: #000;
                    width: 210px;
                    margin-left: 10px;
                    border-radius: 5px;
                }
                #searchCriteria select{
                    font-family: 'Abel', sans-serif;
                    font-size: 17px;
                    color: #000;
                    margin: 10px;
                    border-radius: 5px;
                    cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), pointer;
                }
                
            #returnButton{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
            }
                #backButton{
                    width: 100px;
                    height: 100px;
                    background: url("imagenes/volver.png");
                    background-size: 100px 100px;
                    background-repeat: no-repeat;
        
                    transition: 0.3s;
                    cursor: url(http://cur.cursors-4u.net/others/oth-3/oth246.cur), pointer;
                }
                #backButton:hover{
                    transform: scale(1.2);
                }

            #characters{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: flex-start;
                margin-right: 30px 0px 0px 0px;
            }

                .root{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    
                    font-family: 'Abel', sans-serif;
                    text-align: center;
                    font-size: 18px;
                    line-height: 30px;
                    color: #D8D2D2;
                    padding: 10px 50px 0px 50px;
                    margin: 0px 0px 20px 0px;
                }
                
                .root > img{
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    object-fit: cover; /*para que la imagen no quede chatita*/
                    cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), pointer;
                }
                .root > img:hover{
                    transition: 0.4s;
                    box-shadow: 0 5px 50px 0;
                    transform: scale(0.9);
                }
   
        #creators{
            background: rgb(0, 0, 0, .7);
            border-radius: 10px;
            height: 40px;

            text-align: center;
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
            align-content: center;

            font-family: 'Abel', sans-serif;
            font-size: 7px;
            line-height: 20px;
            color: #D8D2D2;
        }


.modal {
    position: fixed; /*Se queda en el lugar fijo*/
    z-index: 1; /*Trae el modal al frente*/
    padding-top: 160px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /*Se habilita el scroll si es necesario*/
    background-color: rgba(0,0,0,0.7);
}

.modalContent {
    background-color: #C4C4C4;
    margin: auto; 
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 480px;
    
}
    .frame{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        border: #000 4px solid;
        border-radius: 20px;
        padding: 30px;
        width: 100%;
        height: 100%;
    }
    .modalCharacters{
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .characterInformation{
            padding: 0px 0px 0px 30px;
            font-family: 'Abel', sans-serif;
            font-size: 40px;
            line-height: 50px;
            text-align: center;
            color: #000;
        }
            .imgButton{
                width: 200px;
                height: 200px;
                border-radius: 50%;
                object-fit: cover; /*para que la imagen no quede chatita*/
            }
        
        .characterInformation2{
            padding: 5px 30px 30px 70px;
            font-family: 'Abel', sans-serif;
            font-size: 20px;
            line-height: 22px;
            color: #000;
        }

        .x{
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
        }

        .close {
            color: #575353;
            float: right;
            font-size: 35px;
            font-weight: bold;
        }
            .close:hover, .close:focus {
                color: #000;
                text-decoration: none;
                cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), pointer;
            }

/*-----------------------------------------------------------------------------
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
-----------------------------------------------------------------------------*/


@media all and (max-width: 1340px){
    #modalContent{height: 540px;}
}

@media all and (max-width: 1273px){
    #modalContent{height: 600px;}
}

@media all and (max-width: 1130px){
    .modalCharacters{
        flex-direction: column;
    }
    #modalContent{
        height: 830px;
        width: 60%;
    }
    .characterInformation2{
        padding-top: 30px;
        text-align: center;
    }
    .close{
        padding-left: 30px;
    }
}

@media all and (max-width: 887px){
    #header2{height: 230px;}
}

@media all and (max-width: 800px){
    #section{
        flex-wrap: wrap;
    }
    #homePage{
        padding: 50px 70px 30px 90px;
    }
    #modalContent{
        width: 70%;
    }
}

@media all and (max-width: 727px){
    #header2{height: 270px;}   
}

@media all and (max-width: 632px){
    #modalContent{width: 75%;}
}

@media all and (max-width: 606px){
    #header2{
        height: 440px;
    }
    #logo{
        line-height: 100px;
    }
}

@media all and (max-width: 663px){
    #homePage{
        padding: 50px 70px 30px 90px;
    }
    #creators{
        height: 90px;
        width: 100%;
    }
}

@media all and (max-width: 580px){
    #modalContent{
        width: 80%;
        height: 900px;
    }
}

@media all and (max-width: 488px){
    #modalContent{
        height: 1000px;
    }
    .characterInformation{
        padding-left: 10px;
    }
    .characterInformation2{
        padding-left: 30px;
    }
}

@media all and (max-width: 425px){
    #modalContent{height: 1100px;}   
}

@media all and (max-width: 380px){
    #modalContent{height: 1150px;}
}